@page "/"
@inject IFlashcardService flashcardService 

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@foreach(var card in flashcardService.Flashcards)
{
    <ul>
        <li>@card.Title</li>
        <li>@card.Description</li>
        @if(card.Sets != null)
        {
            @foreach (var sets in card.Sets)
            {
                <li>@sets.Term | @sets.Definition</li>
            }
        }else
        {
            <li>You currently have not sets </li>
        }
    </ul>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        await flashcardService.GetFlashcards(); 
    }
}